.spacetop25{
    margin-top: 30px;
  }
.spacebottom25{
  margin-bottom: 30px;
  }

  .tagcloud {
    overflow: hidden;
  }
  .tagcloud a { 
    /*background-color:#eee;
    border: 1px solid #ccc;
    margin:0px 10px 10px 0px;
    line-height: 200%;
    padding:2px 0 2px 2px;*/
    background: #253464;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    display: block;
    float: left;
    font-size: 12px!important;
    margin: 0 5px 5px 0;
    padding: 3px 6px;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -ms-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
     
    }
.tagcloud a:active,
.tagcloud a:focus,
.tagcloud a:hover {
	background: #444;
}
    .taglink  { 
    padding:2px;
    }
     
    .tagbox a, .tagbox a:visited, .tagbox a:active { 
    text-decoration:none;
    }
     
    .tagcount { 
    background-color:green;
    color:white;
    position: relative;
    padding:2px;
    }